* {
    margin: 0px;
    padding: 0px;
}

body {
    scroll-behavior: smooth;
    background-color: black;
    font-family: "Raleway", sans-serif;
}

.navbar {
    font-size: 1em;
}

.navbar-brand img {
    width: 30px;
    height: 24px;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

section {
    color: white;
}

.fa-solid {
    background-color: #0DCAF0;
    padding-top: 8px;
    padding-bottom: 8px;

}

.card {
    background-color: #0DCAF0;
    text-align: center;
}

.card img {
    height: 180px;
}

.card-title {
    height: 50px;
    color: white;
    text-align: left;
}
.card-text{
    height: 210px;
    color: white;
    text-align: left;
}

.layout {
    margin-bottom: 1rem;
}

footer {
    background-color: #0DCAF0;
}

footer p {
    margin-top: 1em;
    text-align: center;
}

.fa-brands {
    margin-top: 1em;
}